.login-container {
	margin: 0 auto;
	max-width: 350px;

	.footer-login {
		margin-top: 15px;
		float: right;

		a {
			vertical-align: bottom
		}

		.item {
			margin: 0 5px 0 5px;
		}

		.facebook-login {
			width: 80px;
			height: 50px; //background-image: url ("https://www.facebook.com/images/fb_icon_325x325.png") no-repeat;
			cursor: pointer;
		}
	}
}